.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
  background: #1e21dfd3;
  color: white;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  font-style:normal;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.logout-btn:hover {
  background: #dc2626;
}